ODOO_IMAGE=odoo:18
ODOO_CONTAINER_NAME=odoo18
PROXY_IMAGE=nginx:1.27-alpine
PROXY_CONTAINER_NAME=odoo-proxy
PUBLIC_HTTP_PORT=8070

DB_IMAGE=postgres:15
DB_CONTAINER_NAME=odoo-db
DB_HOST=db
DB_PORT=5432
DB_NAME=postgres
DB_USER=odoo
DB_PASSWORD=odoo_local_seguro

RESTART_POLICY=always

# Para Linux con SELinux enforcing
BIND_MOUNT_SUFFIX=:Z

DB_HEALTHCHECK_INTERVAL=10s
DB_HEALTHCHECK_TIMEOUT=5s
DB_HEALTHCHECK_RETRIES=5
DB_HEALTHCHECK_START_PERIOD=10s

ODOO_HEALTHCHECK_INTERVAL=30s
ODOO_HEALTHCHECK_TIMEOUT=10s
ODOO_HEALTHCHECK_RETRIES=5
ODOO_HEALTHCHECK_START_PERIOD=60s

PROXY_HEALTHCHECK_INTERVAL=30s
PROXY_HEALTHCHECK_TIMEOUT=5s
PROXY_HEALTHCHECK_RETRIES=5
PROXY_HEALTHCHECK_START_PERIOD=10s

ODOO_MEM_LIMIT=2g
ODOO_CPUS=2.0
ODOO_PIDS_LIMIT=512

DB_MEM_LIMIT=1g
DB_CPUS=1.0
DB_PIDS_LIMIT=256

PROXY_MEM_LIMIT=256m
PROXY_PIDS_LIMIT=100
