[options]
admin_passwd = admin123

#db_host = host.docker.internal
db_host = 34.61.51.220
db_port = 5432
#db_port = 5433
db_user = odoo
db_password = odoo123
db_name = odoo

proxy_mode = True

addons_path = /usr/lib/python3/dist-packages/odoo/addons,/mnt/extra-addons

log_level = info

workers = 2
max_cron_threads = 1

limit_time_cpu = 600
limit_time_real = 1200
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648